{# WARNING: this template is for an email, not an HTML page #}

<html>
    <body>
        <h1>Password reset request</h1>
        <p>Hi {{name}}</p>
        <p>You have requested a password reset</p>
        <p> Click on <a href="{{link}}">this link</a> to reset your password
        or paste the following URL into a web browser</p>
        <p>{{link}}</p>
        </body>
</html>
