{# empty Twig template #}
{% extends "master.html.twig"%}

{% block title %}e-shop{% endblock %}

{% block content %}

    <h1>Welcome to e-shop</h1>

    {% if sessionUser %}
        <p>Hello {{sessionUser.name}} {{sessionUser.email}}. You may <a href="/logout">Logout</a></p>
    {% else %}
        <p>You are not logged in. You may <a href="/login">Login</a> or <a href="/register">Register</a></p>  <br><br>  
    {% endif %}




{% endblock %}

