{# empty Twig template #}


<h1>Login</h1>
<form method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="pass"><br>
    <input type="submit" value="Login">
</form>
