
body {
    background-color: #ffffcc;
}
#centerContent {
    width: 800px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}
#listPane{
    border: darkgray 1px solid;
    width: 380px;
    display: inline-table;
}
#viewAddEditPane {
    border: darkgray 1px solid;
    width: 380px;
    display: inline-table;
}