{% extends "master.html.twig"%}

{% block title %}Bookings{% endblock %}

{% block content %}

    {% if sessionUser %}
        <p>Hello {{sessionUser.name}} {{sessionUser.passport}}. You want to travel </p>

        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{error}}</li>
                    {% endfor %}   
            </ul>

        {% endif %}
        
    {% else %}
        <p>You are not logged in. You may <a href="/login">Login</a> or <a href="/register">Register</a></p>  <br><br>  
    {% endif %}




    <form method="post">
        From: <input type="text" name="fromAirport"><br><br>
        To: <input type="text" name="toAirport"><br><br>
        <input type="submit" value="Book">
    </form>

{% endblock %}
