{# empty Twig template #}

<p>The add: {{message}}, it's {{price}}$ and can be reached at {{email}} <br>
    The post was succesfully added <br>
    <a href="http://localhost:8080/ipd8/slimads/index.php"> click to continue </a></p>

